@import "../../assets/mixins";

.athleteForm {
  padding: 2rem 15%;
  font-family: sans-serif;

  form {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;

    label {
      display: grid;
      grid-template-columns: 4rem 1fr;
      align-items: center;
    }

    input {
      all: unset;
      background-color: lightblue;
      border: 1px solid coral;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin-left: 1rem;

    }

  }

  button {
    @include button;
    justify-self: flex-start;
  }
}




