@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import "assets/mixins";

$mainLight: rgb(233, 233, 233);
$mainMedium: rgb(176, 175, 175);
$mainDark: rgb(49, 49, 49);
$itemSelect: rgb(246, 246, 246);

.dayTemplate {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
  @include respond(phone) {
    gap: 0.5rem
  }


  .row {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: $mainLight;
    padding: 1.5rem;
    margin: 0.5rem;
    filter: drop-shadow(3px 3px 4px $mainMedium);
    border-left: 1rem solid rgb(120, 174, 120);


    .checkbox {
      height: 23px;
      width: 30px;
      color: red;
    }

    .button {
      border-radius: 6px;
      border: none;
      margin-left: 1rem;
      background-color: $mainDark;
      color: $mainLight;
      padding: 0.5rem 1.5rem;
    }

    .button:hover {
      background-color: $mainMedium;
      color: $mainDark;
      cursor: pointer;
    }

    .rowDay:first-letter {
      text-transform: uppercase
    }
  }
}

.row:hover {
  background-color: $itemSelect;
}

//
//@media only screen and (max-width: 1200px) {
//  .dayTemplate {
//    grid-template-columns: 1fr 1fr;
//  }
//}
//
//@media only screen and (max-width: 900px) {
//  .dayTemplate {
//    grid-template-columns: 1fr;
//  }
//}
