@import "../../assets/mixins";

.athleteList {
  padding: 2rem 15%;
  font-family: sans-serif;

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  article {
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  form {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;

    input {
      all: unset;
      background-color: lightblue;
      border: 1px solid coral;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin-left: 1rem;

    }

  }

  button {
    @include button;
    justify-self: flex-start;
  }
}




